header {
    background-color: blueviolet;
    padding: 1rem;
}
header nav ul {
    display: flex;
    gap: 10px;
    list-style: none;
}
header ul a {
    background-color: aliceblue;
}
section:nth-child(even) {
    background-color: aqua;
}
/* Part I found moore difficult*/
header {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    text-transform: capitalize;
    white-space: none;
}
gallary {height: 100px; background-color: aquamarine:}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 75%;
    background-color: red;
    color: aliceblue;
    text-align: center;
}
/*Bold footer*/